.particle-container-dummy {
    width: 256px;
    height: 256px;
    margin-top: 64px;
    margin-bottom: 96px;

    background-image: url('/particle_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.real-particle-canvas {
    width: 256px;
    height: 256px;
}

.real-particle {
    width: 256px;
    height: 256px;
}

@media (min-width: 1200px) {
    .particle-container-dummy{
        width: 576px;
        height: 576px;
        margin: 0;
        background-size: 384px;
        background-position: center;
        flex-shrink: 0;
    }

    .real-particle-canvas {
        width: 384px;
        height: 384px;
    }

    .real-particle {
        width: 256px;
        height: 256px;
    }
}


