.particle-container {
    width: 256px;
    height: 256px;
    margin-top: 64px;
    margin-bottom: 96px;

    background-image: url('/particle_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 1200px) {
    .particle-container {
        width: 576px;
        height: 576px;
        margin: 0;
        background-size: 384px;
        background-position: center;
        flex-shrink: 0;
    }
}