:root {
  --eggshell: #F0EAD6;
  --text-light: #4F4F4F;
  --accent-light: #DB5B00;
  background-color: var(--eggshell);
}

@font-face {
  font-family: 'Domine-SemiBold';
  src: url('/Domine-SemiBold.ttf');
}
@font-face {
  font-family: 'Domine-Regular';
  src: url('/Domine-Regular.ttf');
}

@font-face {
  font-family: 'Domine-Bold';
  src: url('/Domine-Bold.ttf');
}

@font-face {
  font-family: 'Domine-V';
  src: url('/Domine-VariableFont_wght.ttf');
}



h1, h2, h3, h4 {
  font-family: Domine-SemiBold;
  color: var(--text-light);
}

p {
  font-family: Domine-Regular;
  color: var(--text-light);
}

h1 {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.headshot {
  height: 128px;
  width: 128px;
  background-color: #ededed;
  margin-bottom: 4px;
}

.undercard {
  margin-bottom: 48px;
  font-family: Domine-SemiBold;
}

.size {
  font-size: 2rem;
  letter-spacing: 3%;
}

.margin {
  margin-top: 24px;
}

.footer-text {
  text-align: center;
}

.footer-button-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.header-box, .header-box > div {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@media (min-width: 1200px){
  .header-box {
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between; 
    gap: 256px;
    margin-top: 48px;
    width: 1200px;
    margin-bottom: 128px;
  }

  .size {
    font-size: 3rem;
    letter-spacing: 3%;
  }  
  .test {
    text-align: start;
    font-size: 3.5rem;
    line-height: 72px;
  } 
  .undercard {
    font-size: 1.7rem;
    margin-bottom: 0;
  } 
  
  .headshot {
    height: 256px;
    width: 256px;
    background-color: #ededed;
    margin-bottom: 0px;
  }

  .header-box > div {
    align-items: flex-start;
    width: 300px;
  }
}